.App {
    text-align: center;
}

.horzDisplay {
    display: flex;
}

.white {
    color: white;
}

.inputLog {
    resize: none;
    width: 200px;
    height: 75px;
    font-family: Arial, Helvetica, sans-serif;
}

.inputDate {
    width: 100px;
}



/* this is for vertically aligning divs
div.ext-box { display: table; width:50%;}
div.int-box { display: table-cell; vertical-align: middle; }
*/