.App {
    text-align: center;
}

.horzDisplay {
    display: flex;
}

.horz {
    display: flex;
}

.white {
    color: white;
}

.whiteBtn {
    color: black;
    background-color: white;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
}

.whiteIcon {
    color: white;
    cursor: pointer;
}

.error {
    margin: 0px;
    color:crimson;
}



/* this is for vertically aligning divs
div.ext-box { display: table; width:50%;}
div.int-box { display: table-cell; vertical-align: middle; }
*/