.App {
    text-align: center;
}

.horzDisplay {
    display: flex;
}

.horz {
    display: flex;
}

.white {
    color: white;
}

.whiteIcon {
    color: white;
    cursor: pointer;
}

.error {
    margin: 0px;
    color:crimson;
}

.grayBtn {
    margin: 10px;
    background-color: #e7e7e7;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
}



/* this is for vertically aligning divs
div.ext-box { display: table; width:50%;}
div.int-box { display: table-cell; vertical-align: middle; }
*/