.profile {
    width: 100%;
    margin: 20px;
}

.inner {
    float: right;
    text-align: center;
}

.profilePic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-style: solid;
    border-width: thin;
}