.icon {
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.weightTraining {
    background-image: linear-gradient(to right, rgb(0, 247, 255) , rgb(6, 135, 255));
}

.cardio {
    background-image: linear-gradient(to right, rgb(218, 95, 255) , rgb(99, 15, 255));
}

.calories {
    background-image: linear-gradient(to right, rgb(255, 196, 0) , rgb(255, 115, 0));
}

.protein {
    background-image: linear-gradient(to right, rgb(255, 97, 163) , rgb(252, 36, 90));
}

.circle {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px; 
    text-align: center;
    margin: 5%;
    border-style: solid;
}

.goal {
    border-radius: 20px;
    padding: 10px; 
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    width: 300px;
}

.textBox {
    resize: none;
    width: 150px;
    height: 75px;
    margin: 20px;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 15px;
    padding: 10px;
    outline: none;
}

.target {
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
}

.wt {
    width: 60px;
}
