.searchIcon {
    cursor: pointer;
    margin-top: 0px;
    margin-left: 10px;
}

.searchLabel {
    margin-top: 5px;
}

.labelAndIcon {
    display: flex;
}

table {
    border-collapse: collapse;
    margin: 10px;
}

tr {
    border-bottom: 1px solid black;
}

th, td {
    padding:10px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.apiForm {
    margin: 20px;
}

.grayBtn {
    margin: 10px;
    background-color: #e7e7e7;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 25px;
}

.chartTitle {
    margin-left: 20px;
    margin-top: 10px;
}

.titleAndReset {
    display: flex;
}

