.panel {
    height: 85vh;
    background-color: rgb(230, 202, 166);
    width: 40%;
    margin: auto;
    border-radius: 20px;
}

.scroll {
    border-top: 3px solid rgb(65, 64, 63);
    background-color: rgb(230, 202, 166);
    height: 70%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.inputLog {
    resize: none;
    width: 80%;
    height: 120px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: thin;
    padding: 5px;
    outline: none;
}

.inputDate {
    width: 70px;
    border: none;
    background-color: rgb(230, 202, 166);
    color: black;
    outline: none;
    float: right;
}

.topPanel {
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    padding-bottom: 0px;
}

.labelPlusBtn {
    margin: 5px;
}

.logLabel {
    margin-right: 5px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}





@media (max-width: 800px) 
{
    .panel {
        width: 60%;
        height: 70vh;
    }

    .profile {
        display: flex;
        float: none;
        margin-left: 10px;
    }
}

@media (max-width: 500px) 
{
    .panel {
        width: 80%;
        height: 60vh;
    }

    .profile {
        display: flex;
        float: none;
        margin-left: 10px;
    }
}