.whiteBtn {
    font-size: 14px;
    color: black;
    background-color: white;
    cursor: pointer;
    border-color: black;
    border-radius: 15px;
}

.editWDelete {
    margin-bottom: 10px;
}

.trash {
    margin-left: 10px;
}

.trash:hover {
    color: rgb(247, 138, 104);
}